body {
    background-color: black;
    text-align: left;
    font-size: medium;
}

h1 {
    color: red;
}
nav {
    background-color: black;
    text-align: left;
    color: blue;
    font-size: 18px; /* normal-paragraph */
    padding: 20px;
}


    p {
        color:white;
    font-size: 18px; /* normal-paragraph */
}
nutton {
    font-size: 18px;
    display: block;
    margin: 20p auto;
    padding: 12px  25px;
}







